[submodule "src/dataset_generation/synthetic_terrain_data_generator"]
	path = src/dataset_generation/synthetic_terrain_data_generator
	url = https://bitbucket.org/tamiki/terrain_data_generator.git
[submodule "src/learning/models/baseline/py_patch_match"]
	path = src/learning/models/baseline/py_patch_match
	url = https://github.com/mstoelzle/PyPatchMatch
[submodule "scripts/unet-plot"]
	path = scripts/unet-plot
	url = https://mstoelzle@github.com/mstoelzle/solving-occlusion-unet-plot
[submodule "src/traversability/esa-prl-perception-traversability"]
	path = src/traversability/esa-prl-perception-traversability
	url = https://mstoelzle@github.com/esa-prl/perception-traversability
