[submodule "src/dataset_generation/synthetic_terrain_data_generator"]
	path = src/dataset_generation/synthetic_terrain_data_generator
	url = https://x-token-auth@bitbucket.org/tamiki/terrain_data_generator.git
