# requires Python 3.9.1
aenum==3.0.0
coloredlogs==15.0
h5py==3.2.1
jsonschema==3.2
matplotlib==3.3.4
msgpack==1.0.2
numpy>=1.19.4, <2.0
opencv-python>=4.4.0.46, <5.0
Pillow>=8.0.1, <9.0
progress==1.5
psutil==5.8.0
pybind11==2.6.2
pycryptodomex==3.10.1
pytorch-msssim==0.2.1
pyyaml==5.4.1
rospkg==1.2.10
seaborn==0.11.1
scipy==1.6.1
tensorboard==2.4.1
tifffile==2021.3.4
torch==1.8.0
torchvision==0.9.0

git+https://github.com/mstoelzle/grid-map-raycasting