# requires Python 3.9.1
aenum==3.1.0
coloredlogs==15.0.1
dash==2.0.0
h5py==3.4.0
jsonschema==3.2.0
matplotlib==3.4.3
msgpack==1.0.2
numpy>=1.19.4, <2.0
opencv-python>=4.4.0.46, <5.0
Pillow>=8.1.2, <9.0
plotly==5.3.1
progress==1.6
psutil==5.8.0
pybind11==2.7.1
pycryptodomex==3.10.1
pytorch-msssim==0.2.1
pyyaml==5.4.1
rosbags==0.9.4
rospkg==1.3.0
seaborn==0.11.2
scipy==1.7.1
tensorboard==2.6.0
tifffile==2021.8.8
torch==1.9.1
torchvision==0.10.1

git+https://github.com/mstoelzle/grid-map-raycasting